.button {
	padding: 0.8rem 2rem;
	border: none;
	border-radius: 50px;
	background-color: var(--color-secondary);
	color: var(--color-primary);
	font-weight: 700;
	font-family: var(--font-paragraph);
	font-size: 1.2rem;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;

	@include medium {
		height: 3.5rem;
		padding: 0.6rem 3rem;
	}

	@include small {
		width: calc(100vw - 8rem);
	}

	&:hover {
		background-color: var(--color-light);
		color: var(--color-primary);
		transform: scale(1.1);
	}

	&.disabled {
		background-color: var(--color-grey);
		color: var(--color-light);
		cursor: not-allowed;

		&:hover {
			background-color: var(--color-grey);
			transform: none;
		}
	}
}
