.quiz {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin-top: 5rem;
	z-index: 2;

	@include small {
		margin: 0;
	}

	&__roundCount {
		font-size: 1.5rem;
	}

	&__container {
		display: flex;
		gap: 1rem;
		flex-direction: column;
		align-items: center;
	}

	&__skip.button {
		width: fit-content;
		transform: scale(0.9);
		color: var(--color-light);
		background-color: transparent;

		&:hover {
			color: var(--color-secondary);
			transform: scale(1);
		}
	}
}
