header {
	position: absolute;
	top: 0;
	left: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 8rem);
	height: 60px;
	z-index: 100;
	transform: translateX(-50%);

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: var(--color-light);
		opacity: 0.4;
	}

	a {
		color: var(--color-light);
		font-weight: 200;
	}

	#homelink {
		font-family: var(--font-title);
		font-size: 1.2rem;
	}
}
