header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    height: 50px;
    background-color: var(--color-secondary);
    border-bottom: 1px solid var(--color-primary);

    a {
        height: 90%;

        img {
            height: 100%;
        }
    }
}
