html,
body {
	font-size: 14px;
	/* font-family: var(--font-paragraph); */
	color: var(--color-light);
	background-color: var(--color-primary);
	background: radial-gradient(
		circle,
		rgba(0, 29, 61, 1) 11%,
		rgba(0, 8, 20, 1) 100%
	);

	@include medium {
		font-size: 14px;
	}

	@include small {
		font-size: 12px;
	}
}
