:root {
	--color-light: #ffffff;
	--color-dark: #000814;
	--color-grey: #e5e5e5;
	--color-primary: #003566;
	--color-secondary: #ffc300;
	--color-tertiary: #001d3d;
	--color-tertiary-40: #001d3d40;
	--color-denied: #d6282840;
	--color-error: #c1121f;
	--color-valid: #a7c957;
	--color-gold: gold;
	--color-silver: lightgrey;
	--color-bronze: #ce8946;
	--font-title: "Poltawski Nowy", serif;
	--font-paragraph: "Poppins", sans-serif;
}
