:root {
	--color-light: #ffffff;
	--color-dark: #000000;
	--color-grey: #e5e5e5;
	--color-primary: #1b4332;
	--color-secondary: #d8f3dc;
	--color-tertiary: #74c69d;
	--color-tertiary-40: #74c69d40;
	--color-denied: #d6282840;
	--color-error: #c1121f;
	--color-valid: #a7c957;
	--color-gold: gold;
	--color-silver: lightgrey;
	--color-bronze: #ce8946;
	--font-name: "Poltawski Nowy", serif;
}

$test: tomato;
