.lobbyform {
	width: 240px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	.button {
		width: 200px;
		margin-top: 1rem;
	}

	.invite {
		margin-top: 0;
		background-color: var(--color-light);
		color: var(--color-primary);

		&:hover {
			background-color: var(--color-secondary);
		}

		&--copied {
			background-color: var(--color-valid) !important;
		}
	}

	&__option {
		position: relative;
		width: 100%;
		display: flex;
		padding: 0.8rem 1rem;
		cursor: pointer;
		user-select: none;
		color: var(--color-primary);

		input {
			height: 1rem;
			margin: 0;
		}

		span {
			display: block;
			margin-left: 0.8rem;
		}

		.option__background {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			border-radius: 0.5rem;
			background-color: var(--color-light);
			z-index: -1;
		}

		input[type="checkbox"]:checked + .option__background {
			background-color: var(--color-secondary);
		}
	}

	&__fastmode {
		display: flex;
		box-sizing: border-box;
		cursor: pointer;

		&:hover {
			cursor: pointer;
		}

		input {
			padding: 0.4rem 0.5rem;
		}

		label {
			padding: 0.4rem 0.5rem;
			user-select: none;
		}
	}
}
